## Environment ##
NODE_ENV=production

## For Docker only ##
DOCKER_ENV=yes

## Server ##
PORT=8081
HOST=localhost

## Setup jet-logger ##
JET_LOGGER_MODE=FILE
JET_LOGGER_FILEPATH=jet-logger.log
JET_LOGGER_TIMESTAMP=TRUE
JET_LOGGER_FORMAT=LINE

## Database ##
DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=your_db_name
DB_URL=db

## Redis ##
REDIS_HOST=redis
REDIS_PORT=6379

## Session ##
SESSION_SECRET=a_strong_secret

## Cloudinary ##
CLOUD_NAME=Your CLOUD_NAME
API_KEY=Your API_KEY
API_SECRET=Your API_SECRET
CLOUDINARY_URL=Your CLOUDINARY_URL